<!--наследуем от базового шаблона уровня всего проекта-->
{% extends 'base.html' %}

{% block content %}
<h3>{{ message }}</h3>
<!--action="" - форма должна отправиться по тому же адресу, по которому мы её получаем -->
<!--где был get-запрос, туда пойдёт и post-ответ-->
<!--method="post" - определение метода отправки формы-->
<form action="" method="post">
<!-- csrf_token - секретный ключ, к-й есть в файле settings.py (строка SECRET_KEY)   -->
<!-- позволяем генерировать token   -->
<!-- гарантия доставки данных от клиента до сервера django   -->
    {% csrf_token %}
<!-- выводится форма, обрамлённая тегами div   -->
    {{ form.as_div }}
<!-- вручную добавляется кнопка с текстом "Отправить"   -->
    <input type="submit" value="Отправить">
</form>
{% endblock %}